/* ADDING TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ADDING FONT */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Kanit:wght@100;500;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

:root{
  color-scheme: dark;
}

.bodoni-moda-sc {
  font-family: "Bodoni Moda SC", serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style:italic;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@layer utilities{
  .underline-nav::after{
    content: "";
    display: block;
    margin-top: 4px;
    width: 50%;
    height: 1px;
    background-color: #232323;
  }
}
